<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.example.vuetoyserver.card.CardRepository">
    <select id="selectCardList" parameterType="com.example.vuetoyserver.common.PaginationVO"
        resultType="com.example.vuetoyserver.card.CardVO">
        SELECT * FROM tb_card
        LIMIT ${page * size}, ${size}
    </select>
</mapper>