<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.example.vuetoyserver.member.MemberRepository">
    <select id="selectMember" parameterType="long" resultType="com.example.vuetoyserver.member.MemberVO">
        SELECT * FROM tb_member
        WHERE MEMBER_SQ=#{member_sq}
    </select>

    <select id="selectStatistics" parameterType="Map" resultType="com.example.vuetoyserver.member.MemberDTO">
         /* TODO */
    </select>

    <update id="updateMember" parameterType="com.example.vuetoyserver.member.MemberVO">
        UPDATE tb_member
        SET
            NICKNAME=#{nickname},
            ADDRESS=#{address},
            GENRE=#{genre}
        WHERE
            MEMBER_SQ=#{member_sq}
    </update>

    <update id="updatePassword" parameterType="com.example.vuetoyserver.member.MemberDTO">
        UPDATE tb_member
        SET
            PASSWORD=#{newPw}
        WHERE
            MEMBER_SQ=#{member_sq}
    </update>

    <update id="updateProfileImg" parameterType="com.example.vuetoyserver.member.MemberDTO">
        UPDATE tb_member
        SET
            PROFILE_IMG_URL=#{profile_img_url}
        WHERE
            MEMBER_SQ=#{member_sq}
    </update>
</mapper>